@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --optima-surface: #ffffff;
  --optima-surface-muted: #f8faff;
  --optima-border: #d6deed;
  --optima-primary: #07183b;
  --optima-secondary: #667085;
  --optima-muted: #667085;
  --optima-button: #0d1e4c;
  --optima-button-hover: #0b1b32;
  --optima-accent: #93c5fd;
  --optima-danger: #ef4444;
  --optima-danger-bg: #fff1f2;
  --optima-success: #10b981;
  --optima-success-bg: #ecfdf5;
  --optima-warning: #f59e0b;
  --optima-warning-bg: #fffbeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined" !important;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga";
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
